<div class="tp-wrapper">
  <div class="tp-box" (click)="getDetails()" [@flipState]="flip">
    <div class="tp-box__side tp-box__front card">
      <h1>{{ title }}</h1>
      <h2>{{ subtitle }}</h2>
      <div>
        <ng-content select="[front]"></ng-content>
      </div>
    </div>
    <div class="tp-box__side tp-box__back" card>
      <button
        mat-icon-button
        class="open-in-new"
        (click)="openDialog.emit(); $event.stopPropagation()"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
      <ng-content select="[back]"></ng-content>
    </div>
  </div>
</div>
