<div class="container">
  <div id="target">
    <div>
      <h1>Hamid Solih</h1>
      <p>
        There was a guy who wanted to get a job in the Fincube universe. He
        applied for a job at the Fincube company. He was a very good guy, but he
        had to pass a number of trials. Very hard trials. He had to pass them
        all. He hoped he would get the job, because of his years of experience
        and knowledge of the Frontend arts. His fear of the Backend side had
        forced him to become a very good Frontend developer. Also, he had the
        help of the master Google and the master Stackoverflow. With the help of
        these grandmasters he hoped to pass the trials with the force on his side.
        He had to pass the trials, because he wanted to become a Frontend Master.
      </p>
      <p>
        May the force be with him :).
      </p>
    </div>
  </div>
</div>
