#target {
  position: absolute;
  top: -1500px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
  color: yellow;
}
#target > div {
  padding-top: 1500px;
  animation: autoscroll 1000s linear;
  h1 {
    font-size: 8rem;
    line-height: 8rem;
    margin-bottom: 50px;
  }
  p {
    line-height: 7rem;
    font-size: 5rem;
  }
}
html:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(14deg);
}
@keyframes autoscroll {
  to {
    margin-top: -50000px;
  }
}
