<div class="container">
  <div id="target">
    <div>
      <h1>Hamid Solih</h1>
      <p>
        There was a guy who wanted to get a job in the IT universe. He
        applied for a job at one company. He was a very good guy, but he
        had to pass a number of trials. Very hard trials. He had to pass them
        all. He hoped he would get the job, because of his years of experience
        and knowledge of the Frontend arts. His fear of the Backend side had
        forced him to become a very good Frontend developer. Also, he had the
        help of the master Google and the master Stackoverflow. With the help of
        these grandmasters he hoped to pass the trials with the force on his
        side. He had to pass the trials, because he wanted to become a Frontend
        Master.
      </p>
      <p>May the force be with him :).</p>

      <br /><br /><br />

      <h2>About the website</h2>
      <p>
        This website is a showcase of my skills as a frontend developer. It is
        built with Angular and the Star Wars API. It is a single page
        application with a responsive design. It makes use of the ngrx library
        to open a dialog with the details of the selected item. For the styling
        I used the Angular Material library. As directed each page is divided
        into modules and lazy loaded. Get requests to update the data on the
        cards are cached on the page so that they are sent only once. All
        requests are made via the CoreDataService to hide the low level details
        of the API. The CoreDataService is a singleton service that is injected
        into the components that need it. The updated data in the details dialog
        is turned into a link that can be clicked to open the details of that
        selected item. The details dialog is a reusable component that is
        injected with the data of the selected item.
      </p>
      <p>Anything else?</p>
      <p>Maybe. Just enjoy the website!</p>
    </div>
  </div>
</div>
